.box-container {
  padding: 1rem;
  box-shadow: 4px 4px 10px darkblue;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  color: white;
}

.box-container h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.related-video-thumbnail:hover {
  transform: scale(1.2);
}

.related-video-thumbnail {
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.dropdown-style {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 40px);
}